<footer>
      <nav class="nav-footer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact me</a></li>
        </ul>
      </nav>
      <section>
        <ul class="contacts-footer">
          <li>
            <a href="mailto:joana.miranda25@gmail.com">
              <img src="/assets/images/Joana-Miranda-Portfolio-Email.svg" alt="Email icon">
              <span>Email</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joanamiranda88/" target="_blank">
              <img src="/assets/images/Joana-Miranda-Portfolio-Linkedin.svg" alt="Linkedin logo">
              <span title="Website name">Linkedin</span>
            </a>
          </li>
          <li>
            <a href="https://medium.com/@joanamiranda88" target="_blank">
              <img src="/assets/images/Joana-Miranda-Portfolio-Medium.svg" alt="Medium logo">
              <span title="Webite name">Medium</span>
            </a>
          </li>
          <li>
            <a href="https://www.behance.net/joanamiranda88" target="_blank">
              <img src="/assets/images/Joana-Miranda-Portfolio-Behance.svg" alt="Behance logo">
              <span title="Website name">Behance</span>
            </a>
          </li>
        </ul>
        </section>
        <section class="top">
          <a href="#top" class="top"><i class="fas fa-arrow-up"></i></a>
        </section>
    </footer>
