.button {
	width: 300px;
	height: 52px;
	color: black;
	box-shadow: 8px 10px #2F2929;
	border: 3px solid #2F2929;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	padding: 15px 32px;
	margin: 20px 0 16px 0;
}

.button:hover {
	color: white;
	background-color: #2F2929; 
}
