.button {
	color: black;
	box-shadow: 8px 10px #2F2929;
	border: 3px solid #2F2929;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 15px 32px;
	margin-left: 20px;
}

.button:hover {
	color: white;
	background-color: #2F2929; 
}
