.card, .one-project {
	margin-bottom: 40px;
}

.card figcaption {
	line-height: 1.4;
	margin: 10px 0 0 20px;
}

.one-project p {
	line-height: 1.4;
}


@media only screen and ( min-width: 768px ) {


 	}