#empathy ul {
	padding: 0;
}

#empathy ul li { 
  	color: #000;
   	background: #F0E9DB;
    box-shadow: 3px 3px 3px #D8D4CC;
    font-size: 16px;
 	padding: 14px;
	min-width: 160px;
}

#empathy li:first-child {
 	background: #000000;
	z-index: -1; 
}

#empathy li:nth-chi§ld(3n+2) {
 	background: #F3DBD6;
}

#empathy li:nth-child(3n+3) {
 	background: #FFF469;
}

.line-bottom {
	border-bottom: 3px solid black;
}

.line-right {
	border-right: 0px solid black;
}

.line-left {
	border-left: 0px solid black;
}

.line-top {
	border-top: 3px solid black;
}