@import 'variables-mixins';

footer {
	background-color: $mygray;
	padding: 30px 30px 30px 20px;
	margin-top: 50px;
  text-decoration: none;
	display: flex;
	flex-direction: column;
	li > a {
		color: $mypink;
	}
}

.nav-footer {
  font-family: $title-type;
	@include uppercase;
  line-height: 1.8;
}

.contacts-footer {
	font-size: 12px;
	margin-top: 20px;
	img {
		width: 36px;
		height: 36px;
	}
}

.top {
  width: 50px;
  height: 50px;
  color: $mygray;
  background: $mypink;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
	margin-top: 30px;
	align-self: flex-end;
	animation: bounce 2s ease-in-out 3s infinite;
  &:hover {
    background: $myyelllow;
  }
}

@keyframes bounce {
  50% {
    transform: scale(0.9);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@media only screen and ( min-width: 768px ) {

	footer {
		display: grid;
		grid-template-columns: 80% 20%;
	}

	.contacts-footer {
		display: flex;
		align-items: flex-end;
		margin-top: 0;
		text-align: center;
	}

	.top {
		grid-column-start: 1;
		grid-column-end: 3;
		justify-self: end;
	 }
	 
}
