footer li > a { 
	color: #F3DBD6;
}

footer {
	background-color: #2F2929;
	padding: 30px 30px 30px 20px;
	margin-top: 50px;
  	text-decoration: none;
}

.nav-footer { 
  	font-family: 'Barlow Semi Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
  	line-height: 1.8;
}

.contacts-footer {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-top: 20px;
}

.contacts-footer img {
	width: 36px;
	height: 36px;
}


@media only screen and ( min-width: 768px ) {

	footer {
	display: grid;
	grid-template-columns: 80% 20%;
	}

	.contacts-footer {
	display: flex;
	align-items: flex-end;
	margin-top: 0;
	}
	
}