@import 'variables';

header {
  background-color: $mygray;
  width: 100%;
  height: 100px;
  top: 0;
  position: fixed;
 	padding: 18px;
	z-index: 999;
	text-align: center;
}

.logo {
	width: 267px;
	height: 32px;
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background:url(../images/Joana-Miranda-Portfolio-Logo.png);
	background-repeat: no-repeat;
}

.menu ul {
	font-family: $title-type;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
  li {
    list-style: none;
	  padding-right: 20px;
  }
}

.menu ul li a {
	color: $mypink;
 	font-size: 16px;
 	text-decoration: none;
  &:hover {
  	color: $mygray;
  }
}


@media only screen and ( min-width: 768px ) {

	header {
		text-align: left;
	}

	.menu ul {
		justify-content: flex-end;
		align-items: center;
    li {
  	   font-size: 20px;
	  }
}
