header {	
  	background-color: #2F2929;
    width: 100%;
  	height: 100px; 
    top: 0;
  	position: fixed;
 	padding: 18px;
	z-index: 999;
	text-align: center;
}

.logo {
	width: 267px;
	height: 32px;
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background:url(../images/Joana-Miranda-Portfolio-Logo.png);
	background-repeat: no-repeat;
}

.menu ul {
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
}

.menu ul li {
	list-style: none;
	padding-right: 20px;
}

.menu ul li a {
	color: #F3DBD6;
 	font-size: 16px; 
 	text-decoration: none;
}

.menu ul li a:hover {
	color: #2F2929;
}


@media only screen and ( min-width: 768px ) {
	
	header {	
		text-align: left;
	}

	.menu ul {
		justify-content: flex-end;
		align-items: center;
	}

	.menu ul li {
	 	font-size: 20px; 
	}

}
