@import 'variables-mixins';

header {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 18px;
  background-color: $mygray;
}

.logo {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
	width: 267px;
	height: 32px;
	background:url(../images/Joana-Miranda-Portfolio-Logo.png);
	background-repeat: no-repeat;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
	font-family: $title-type;
  @include uppercase;
  li {
    padding-right: 20px;
    list-style: none;
  }
}

.menu ul li a {
	color: $mypink;
 	font-size: 18px;
 	text-decoration: none;
  &:hover {
  	color: $mygray;
  }
}


@media only screen and ( min-width: 768px ) {

	header {
    justify-content: flex-end;
    align-items: center;
	}

  .logo {
    flex: 1;
  }

	.menu ul li a {
  	font-size: 24px;
  }
}
