@import 'variables-mixins';

.card, .projects > li {
	margin-bottom: 40px;
}

.card img, .projects img {
	@include aspect-ratio(4, 3);
}

.card figcaption {
	line-height: 1.4;
	margin: 20px 0 0 20px;
}

.one-project p {
	line-height: 1.4;
}


@media only screen and ( min-width: 768px ) {

	.one-project, .card {
		display: inline-flex;
		flex-direction: column;
		width: 48%;
	}

	.one-project:nth-child(odd) {
		margin-right: 20px;
	}

	.card:nth-child(even){
		margin-right: 20px;
	}

	.card figcaption {
		line-height: 1.4;
	}

	#about h1 {
		margin-top: 60px;
	}
}

@media only screen and ( min-width: 1024px ) {

	.card figcaption {
		margin-left: $margin-desktop;
	}
}
