@import 'variables-mixins';

#whys .text-block {
	background-color: $mypink;
	padding: 10px 0 60px;
	h1 {
		animation: slide 2s 2;
	}
}


@media only screen and ( min-width: 768px ) {

	#whys .text-block {
		text-align: center;
	}

}
