@import 'variables';

#whys .text-block {
	background-color: $mypink;
	left: 0;
	padding: 10px 0 60px;
	h1 {
		line-height: 1.2;
		animation: slide 2s 2;
	}
}


@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@media only screen and ( min-width: 768px ) {

	#whys .text-block {
		text-align: center;
	}

}
