@import 'variables';

.card, .projects > li {
	margin: 0 10px 40px 0;
}

.card figcaption {
	line-height: 1.4;
	margin: 10px 0 0 10px;
}

.one-project p {
	line-height: 1.4;
}


@media only screen and ( min-width: 768px ) {

    .card, .one-project {
		width: 49%;
		display: inline-flex;
 		flex-wrap: wrap;
		padding: 0;
		}
 	}
