@import 'variables-mixins';

#empathy {
	display: grid;
	grid-template-columns: 1fr;
}

.says ul, .thinks ul, .does ul, .feels ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

#empathy li {
	display: flex;
	align-items: flex-start;
	max-width: 200px;
	padding: 20px;
	margin-bottom: 40px;
	color: $mygray;
	background: $mylightgray;
	box-shadow: 3px 3px 3px $mylightgray;
	line-height: 1.4;
	@include aspect-ratio(1, 1);
	&:first-child {
		background: $mypink;
	}
	&:nth-child(3n+2) {
		background: $mypink;
	}
	&:nth-child(3n+3) {
		background: $myyelllow;
	}
}

#empathy li::before {
	width: 0;
}

hr {
	height: 4px;
	background: $mygray;
}


@media only screen and ( min-width: 768px ) {

	#empathy {
		grid-template-columns: 1fr 1fr;
	}

	#empathy li {
		max-height: 200px;
		&:first-child {
			margin-left: 60px;
		}
		&:nth-child(3n+2) {
			margin: 50px 0 0 50px;
		}
		&:nth-child(3n+3) {
			margin: -90px 0 30px 20px;
		}
	}

	#empathy h1 {
		grid-column-start: 1;
   		grid-column-end: 3;
		justify-self: start;
	}

	h2 {
		text-align: center;
	}

	.says hr, .thinks hr {
		display: none;
	}

	.vertical-line {
		border-right: 3px solid $mygray;
		height: 100%;
	}
}
