@import 'variables-mixins';

#empathy {
	display: grid;
	grid-template-columns: 1fr;
}

.says ul, .thinks ul, .does ul, .feels ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

#empathy li {
		color: $mygray;
		background: $mylightgray;
		box-shadow: 3px 3px 3px $mylightgray;
		font-size: 14px;
		padding: 14px;
		line-height: 1.4;
		@include aspect-ratio(1, 1);
		max-width: 200px;
		margin-bottom: 14px;
		&:first-child {
			background: $mypink;
			margin-left: 20px;
		}
		&:nth-child(3n+2) {
			background: $mypink;
			margin: 30px 0 0 30px;
		}
		&:nth-child(3n+3) {
			background: $myyelllow;
			margin-top: -70px;
			justify-self: end;
		}


}

hr {
		height: 4px;
		background: $mygray;
}


@media only screen and ( min-width: 768px ) {

		#empathy {
			grid-template-columns: 1fr 1fr;
		}

		#empathy li {
			max-height: 200px;
		}

		#empathy h1 {
			grid-column-start: 1;
   		grid-column-end: 3;
			justify-self: start;
		}

		h2 {
			text-align: center;
		}

		.says hr, .thinks hr {
			display: none;
		}

		.vertical-line {
			border-right: 3px solid $mygray;
			height: 100%;
		}

 	}
