@import "header";
@import "footer";
@import "button";
@import "cards-and-projects";


*{
  	margin: 0;
  	box-sizing: border-box;
}

body {
	color: #2F2929;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
  	line-height: 1.6;
	text-align: left;
	background-color: #FFFBF3;
	padding-top: 120px;
}

body a {
	color: #2F2929;
	cursor: cell;
	text-decoration: none;
	list-style-type: none;
}

body a:hover { 
  	border-bottom: 4px solid;
}

::selection { 
	background: #FFF469;
}

h1 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 32px;
	line-height: 1;
	margin: 50px 0 0 10px;
}

h2 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.8;
	margin-left: 10px;
}

img {
	width: 100%;
	height: auto;
}

.scroll-fixer {
	padding-top: 110px;
	margin-top: -70px;
}



/*-----------whys section-----------*/

.why-background {
	display: none;
}

#whys .text-block {
	background-color: #F3DBD6;
	top: -20px;
	left: 0;
	padding: 20px 0 60px;
}

.text-block h1 {
	line-height: 1.2;
}

/*-----------whys section end-----------*/




/*-----------emphaty section-----------*

#emphaty {
	font-size: 0;
}

.post-its { 
 	width: 50%;
 	line-height: 1.4;
 	vertical-align: top;
 	display: inline-block;
}

.line-bottom {
	border-bottom: 3px solid black;
}

.line-right {
	border-right: 3px solid black;
}

.line-left {
	border-left: 3px solid black;
	padding-left: 32px;
}

.line-top {
	border-top: 3px solid black;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#emphaty h1, #education h1  {
	margin: -110px 0 0;
}

#emphaty ul {
	padding: 0;
}

#emphaty ul li { 
  	color: #000;
   	background: #F0E9DB;
    box-shadow: 3px 3px 3px #D8D4CC;
    font-size: 18px;
 	width: 200px;
  	height: 200px;
    display:block;
 	padding: 14px;
 	margin: -130px 10px 20px 360px;
}

#emphaty li:first-child {
 	background: #F3DBD6;
 	position: absolute;
  	margin: 10px 0 0;
	z-index: -1; 	
}

#emphaty li:nth-child(3n+2) {
 	background: #F3DBD6;
 	margin: 38px 0 0 310px;
}

#emphaty li:nth-child(3n+3) {
 	background: #FFF469;
 	margin: -110px 0 10px 60px;
}

/*-----------emphaty section end-----------*/



/*-----------education section-----------*/

#education ol {
	list-style-type: square;
	padding-left: 20px;
}

/*-----------education section end-----------*/



/*-----------contacts section-----------*/

#contacts i {
	padding-right: 10px;
}

#contacts ul { 
	list-style-type: none;
	padding: 0;
}

/*-----------contacts section end-----------*/


@media only screen and ( min-width: 768px ) {

body {
	font-size: 16px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

.why-background {
	display: flex;
}

#whys .text-block {
	text-align: center;
}

}
