@import 'header';
@import 'footer';

@import 'components-button';

@import 'home-whys';
@import 'home-cards-and-projects';
@import 'home-empathy';
@import 'home-contacts';

@import 'variables-mixins';

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

::selection {
	background: $myyelllow;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

body {
  @include font-source-sans(14px, $mygray, 1.6);
	background-color: $mybeige;
	padding-top: 120px;
  a {
	  color: $mygray;
	  cursor: cell;
	  text-decoration: none;
    list-style-type: none;
    &:hover {
       border-bottom: 4px solid;
    }
  }
}

nav a {
	transition: background-color 1s linear;
  &:hover {
	color: $mygray;
	background-color: $myyelllow;
  }
}

h1 {
  @include font-source-sans-condesed(32px, 1.2);
	margin: 50px 0 20px 20px;
}

h2 {
  @include font-source-sans-condesed(24px);
  @include uppercase;
	@include margin-left-mobile-20;
}

h3 {
  @include font-source-sans(18px, 1.8);
  margin-left: $margin-mobile;
  margin-top: 20px;
}

p, #education li, #contacts li, #empathy h1, #education h1 {
  margin-left: $margin-mobile;
}

img {
	width: 100%;
  height: auto;
}

ul, ol {
	padding: 0px;
}

.scroll-fixer {
	padding-top: 110px;
	margin-top: -70px;
}


@media only screen and ( min-width: 768px ) {

  * {
    margin-left: $margin-desktop;
  }

	body {
		font-size: 16px;
    margin-left: $margin-desktop;
	}

	h1 {
		font-size: 42px;
    margin-left: $margin-desktop;
	}

	h2 {
		font-size: 30px;
    margin-left: $margin-desktop;
	}

	h3 {
		font-size: 20px;
    margin-left: $margin-desktop;
	}

  p, #education li, #contacts li, #empathy h1, #education h1 {
    margin-left: $margin-desktop;
  }

}
