$margin-mobile: 20px;
$margin-desktop: 0px;

$mygray: #2F2929;
$mylightgray: #F0E9DB;
$mybeige: #FFFBF3;
$mypink: #F3DBD6;
$myyelllow: #FFF469;

$sans-type: ('Roboto', sans-serif);
$title-type: ('Barlow Semi Condensed', sans-serif);


@mixin font-source-sans($size: false, $colour: false, $lh: false) {
  font-family: $sans-type;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $lh { line-height: $lh; }
}

@mixin font-source-sans-condensed($size: false, $colour: false, $lh: false) {
  font-family: $title-type;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $lh { line-height: $lh; }
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin headings-margin {
    h1, h2, h3 {
        @content;
    }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
