#whys .text-block {
	background-color: #F3DBD6;
	left: 0;
	padding: 10px 0 60px;
}

.text-block h1 {
	line-height: 1.2;
}


@media only screen and ( min-width: 768px ) {

	#whys .text-block {
		text-align: center;
	}

}