---
layout: default
---

<form action="http://dxd.belasartes.ulisboa.pt/" method="POST" target="_blank" autocomplete="on">

  <fieldset class="dados-gerais">
    <legend>Os seus dados</legend>
      <p>
        <label for="nome_utilizador">nome</label>
        <input id="nome_utilizador" type="text" required>
      </p>
      <p>
        <label for="email">email</label>
        <input id="email" type="email" required></p>
      <p>
        <label for="website">website</label>
        <input id="website" type="url" required></p>
      <p>
        <label for="data_nascimento">data de nascimento</label>
        <input id="data_nascimento" type="date" required>
      </p>
  </fieldset>

</form>
